nav ul a:hover {
  background-color: #dd2c00;
}

.sidenav li:hover {
  background-color: #dd2c00;
}

.parallax img{
  filter: blur(5px);
  filter: brightness(0.3);
}


/*-Cards-*/

.card-title{
text-align: center;
}
.card {
overflow-y: hidden;
}


/*-Contact form-*/

label.active {
color: white !important;
}

input:focus,
.materialize-textarea:focus {
border-bottom: 1px solid white !important;
box-shadow: 0 1px 0 0 white !important;
}




/*-Social Section-*/



#services li {
width: 40px;
height: 40px;

margin: 20px 5px;
list-style: none;
display: inline-block;
}
#services li div {
width: 40px;
height: 40px;
color: #fff;
font-size: 2.4em;
text-align: center;
line-height: 37px;
background-color: N/A;
transition: all 0.5s ease;
}
#services li a {
color: #fff;
}
#services li div:hover {
transform: rotate(360deg);
border-radius: 100px;
}
#services  span {
width: 40px;
height: 40px;
display: inline-block;
color: #fff;
font-size: 1.2em;
text-align: center;
position: relative;
left: 50px;
bottom: 35px;
translate: (-50,-50);
}

/*-blockquote-*/

blockquote{
border-left: 5px solid #ff5722!important;
}

/*-Beneficios-*/

.center-banner{
position: fixed;
top:  50%;
left: 50%;
width: 80%;
transform: translate(-50%,-50%);
}


/*-Footer-*/

.stiky-footer{

position: fixed;
left: 0;
bottom: 0;
width: 100%;
}


.header-msg {
padding: 0px!important;
margin: 0px!important;
}

@media only screen and (max-width : 320px) {
.header-msg {
  width: 300px;
  margin-left: -5px;
  font-size: 0.6em;
}

.header-msg h2 {

  font-size: 5em;
}
}

@media only screen and (max-width : 720px) {
.parallax img{
 max-width: 1024px;
}
}





